@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@500&display=swap');

body{
font-family: arima madurai ;
background-color: black;
}
 
h1,h2,h3,h4{

text-align: center;
color: white;


}





nav {
    background-color: black;
    height: 100px;
    text-align: left;
    font-size: larger;
    justify-content: space-around;
    align-items: center;
}
.candy  {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    justify-content: space-evenly;

}

a {
text-decoration: none;
color: white;

}

#amongus {

color: black;
}

.bestie {

    color: black;
    color: black;

}

*{
    padding:0;
    margin:0;
  }
.image-middle{
    margin: auto;
    margin-left: 800px;
}
.image-middle:hover{
border: 14px solid rgb(84, 187, 255);
}

.icecream{
    margin: auto;
    margin-left: 400px;
}

.icecream:hover{
    border: 14px solid rgb(138, 138, 138);
}

.floating{
    margin: auto;
    margin-left: 400px;
}

.floating:hover{
    border: 14px solid rgb(116, 48, 0);
}

.huge{
    margin: auto;
    margin-left: 730px;
}
.huge:hover{
    border: 14px solid rgb(113, 255, 47);
}

.sea{
    margin: auto;
    margin-left: 730px;
}

.sea:hover{
    border: 14px solid rgb(0, 217, 255);
}

.spots{
    margin: auto;
    margin-left: 370px;
}

.spots:hover{
    border: 14px solid orange;
}



.mahika{
    margin: auto;
    margin-left: 500px;
}

.mahika:hover{
border: 14px solid rgb(255, 166, 221);
}

body{
    animation: COFFEE infinite 19s;
}

@keyframes COFFEE{
    
    0%{background-color: rgb(183, 183, 183);}
    10%{background-color: rgb(172, 172, 172);}
    20%{background-color: rgb(134, 134, 134);}
    30%{background-color: rgb(95, 95, 95);}
    40%{background-color: rgb(42, 42, 42);}
    50%{background-color: rgb(0, 0, 0);}
    60%{background-color: rgb(0, 0, 0);}
    70%{background-color: rgb(42, 42, 42) ;}
    80%{background-color: rgb(95, 95, 95);}
    90%{background-color: rgb(134,134,134);}
    100%{background-color: rgb(172,172,172);}
    110%{background-color: rgb(183,183,183);}
}


.home{
background-color:white;
color: black;
}



.sliverstars img{
width: 32px;
animation: sliverstars 7s linear infinite;

}



.sliverstars{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
}




@keyframes sliverstars{
0%{
    transform: translateY(0);
    opacity: 32;
}
0%{
opacity: 31;
}
0%{
opacity: 31;
}
0%{
    transform: translateY(-80vh);
    opacity: 30;
}

}



.sliverstars img:nth-child(1){
    animation-delay:2s ;
}

.sliverstars img:nth-child(2){
    animation-delay:8s ;
}

.sliverstars img:nth-child(3){
    animation-delay:5s ;
}
.sliverstars img:nth-child(4){
    animation-delay:4s ;
}
.sliverstars img:nth-child(5){
    animation-delay:9s ;
}
.sliverstars img:nth-child(6){
    animation-delay:6s ;
}
.sliverstars img:nth-child(7){
    animation-delay:3s;
}
.sliverstars img:nth-child(8){
    animation-delay:7s ;
}
.sliverstars img:nth-child(9){
    animation-delay:1s ;
}